@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开始使用 layui</title>
    <!-- 引入 layui.css -->
<link rel="stylesheet" href="//unpkg.com/layui@2.6.8/dist/css/layui.css">

<!-- 引入 layui.js -->
<script src="//unpkg.com/layui@2.6.8/dist/layui.js"></script>
<script>

         console.log(@ViewBag.List);
</script>
</head>
<body>

    <!-- 你的 HTML 代码 -->

    <button class="layui-btn" id="demo1">
        下拉菜单
        <i class="layui-icon layui-icon-down layui-font-12"></i>
    </button>

    <script>layui.use('dropdown', function () {

            var dropdown = layui.dropdown
            dropdown.render({
                elem: '#demo1' //可绑定在任意元素中，此处以上述按钮为例
                , data: [{ title: 'item 1', id: 'aaa' }, { title: 'item 2', id: 'bbb' }]
                , id: 'demo1'
                //菜单被点击的事件
                , click: function (obj) {
                    console.log(obj);
                    layer.tips('点击了：' + obj.title, this.elem, { tips: [1, '#5FB878'] })
                    layer.msg('回调返回的参数已显示再控制台');
                }
            });

        });</script>


    <select class="layui-icon layui-icon-down layui-font-12" name="city" lay-verify="">
        <option value="">请选择一个城市</option>
        <option value="010">北京</option>
        <option value="021">上海</option>
        <option value="0571">杭州</option>
    </select>




</body>
</html>
